# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*

# env
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# arquivos soltos nao relacionados
atividade_soma.pdf
*.pdf
